.header {
  background-image: linear-gradient(
    to right bottom,
    #0075ff,
    #0093ff,
    #00abfe,
    #00beee,
    #00cedd,
    #1bd4db,
    #2edad8,
    #40e0d5,
    #3cdfe1,
    #42deec,
    #4fdcf4,
    #5fdafb
  );

  width: 96vw;
  height: 480px;
  display: flex;
  position: relative;
  left: 2%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header-text {
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  padding-left: 45px;
}
.header-img {
  width: 380px;
  height: 420px;
  margin: 100px 80px 0 0;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 50px 50px rgba(249,249,249,0.83); 
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 50px 50px rgba(249,249,249,0.83);
}
