.arrow-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 20px 0 0 0;
}

.arrow-container i {
  color: var(--hover-color);
  font-size: 30px;
}

.arrow-container i:hover {
  color: var(--accent);
}

@media (min-width: 768px) {
  .arrow-container {
    justify-content: flex-start;
    padding-left: 40px;
    margin: 20px 0;
  }

  .arrow-container i {
    font-size: 40px;
  }
}

@media (min-width: 1240px) {
  .arrow-container {
    padding-left: 60px;
  }

  .arrow-container i {
    font-size: 57px;
  }
}
