.project-card {
  flex: 1 1 calc(33.333% - 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.project-card-content{
  width: 380px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-shadow: var(--box-shadow);
  border-bottom: 1px solid #fff;
  background-color: #fff;
  border-radius: 2px;
}
.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 24rem; 
  overflow: hidden; 
  border: solid 1px rgb(0, 0, 0);
  background-color: #fff;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.project-info{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  color: #333;
  margin: 1rem 0 0 0;
}
.project-info h3{
  margin: 0;
}
.project-info p{
 
}
.project-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50px;
  background-color: var(--hover-color);
  /* margin-top: 20px; */
  border-radius: 2px;
}

.project-links a {
  font-style: italic;
  color: #fff;
  text-decoration: none;
}

.project-links a:hover {
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  color: #FFFFFF;
  
}
@media (max-width: 1240px) {
  .project-card {
    flex: 1 1 calc(50% - 16px); 
  }
  .project-card-content{
    width: 330px;
  }
  .image-container{
    height: 320px;
  }
  .project-info h3{
    font-size: 16px;
  }
  .project-info p{
    font-size: 14px;
  }
  .project-links{
    margin-top: 10px;
    height: 50px;
  }
  .project-links a{
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .project-card {
    flex: 1 1 calc(100% - 16px); 
  }
  .project-card-content{
    width: 340px;
  }
  .image-container{
    height: 360px;
  }
  .project-info h3{
    font-size: 16px;
  }
  .project-info p{
    font-size: 13px;
  }
  .project-links{
    margin-top: 10px;
    height: 46px;
  }
  .project-links a{
    font-size: 14px;
  }
}
