.project-card {
  flex: 1 1 calc(33.333% - 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.project-card-content{
  width: 380px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-shadow: 0 0 22px rgba(243, 232, 232, 0.3);
  border-bottom: 1px solid #fff;
  background-color: #fff;
  border-radius: 2px;
}
.image-container{
  width: 90%;
}
.project-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: solid 0.8px rgba(0, 0, 0, 0.448);
}

.project-info{
  height: 60px;
  width: 90%;
  height: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  color: #333;
}
.project-info h3{
  margin: 0;
}
.project-info p{
 
}
.project-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50px;
  background-color: var(--hover-color);
  margin-top: 20px;
  border-radius: 2px;
}

.project-links a {
  font-style: italic;
  color: #fff;
  text-decoration: none;
}

.project-links a:hover {
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  color: #FFFFFF;
  
}
@media (max-width: 1240px) {
  .project-card {
    flex: 1 1 calc(50% - 16px); 
  }
  .project-card-content{
    width: 350px;
  }
  .project-img{
    height: 320px;
  }
  .project-info h3{
    font-size: 16px;
  }
  .project-info p{
    font-size: 14px;
  }
  .project-links{
    margin-top: 10px;
    height: 50px;
  }
  .project-links a{
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .project-card {
    flex: 1 1 calc(100% - 16px); 
  }
  .project-card-content{
    width: 340px;
  }
  .project-img{
    height: 300px;
  }
  .project-info h3{
    font-size: 16px;
  }
  .project-info p{
    font-size: 13px;
  }
  .project-links{
    margin: 0;
    height: 40px;
  }
  .project-links a{
    font-size: 14px;
  }
}
