.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  position: relative;
  left: 20%;
  top: 20px;
  align-items: center;
  width: 70%;
  height: 300px;
  overflow: hidden;
  gap: 10rem;
}

.about-img {
  width: 240px;
  height: 240px;
}
.about-container p {
  padding: 0;
  color: var(--text-color);
}
