.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px;
  align-items: center;
}

.mobile-menu-icon {
  display: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 22px;
}

.nav-links a:hover,
.nav-links a:active {
  text-decoration: underline var(--hover-color);
}

button {
  background-color: transparent;
  border: none;
}

.fa-xmark,
.fa-bars {
  background-color: transparent;
  color: var(--hover-color);
  font-size: 40px;
  border: none;
}

@media (max-width: 768px) {
  /* .nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);
  } */
  .nav-links {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .nav-links-mobile {
    position: absolute;
    top: -16px;
    left: 0;
    z-index: 1;
    list-style: none;
    transition: all 0.5s ease-in-out;
    width: 50%;
    height: 100vh;
    padding: 80px 0 0 50px;
    background-color: rgba(0, 0, 0, 0.641);
  }

  .nav-links-mobile li {
    padding-bottom: 20px;
  }

  .nav-links-mobile a {
    text-decoration: none;
    color: var(--hover-color);
    font-size: 26px;
  }

  .fa-xmark {
    position: absolute;
    left: 36%;
    top: 25px;
    z-index: 2;
  }
}
