.nav {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: relative;
}

.nav a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  margin: 0 1rem;
}
nav a:hover {
  color: var(--hover-color);
}
img {
  width: 88px;
  height: 88px;
}

.nav-icon {
  font-size: 22px;
  color: var(--text-color);
}
.nav-icon:hover {
  color: var(--hover-color);
}
