.nav {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.nav a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  margin: 0 1rem;
}
nav a:hover {
  color: #4fe0c3;
}
img {
  width: 80px;
  height: 80px;
}
i {
  font-size: 22px;
}
