.divider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  width: 100%;
  padding: 0 20px;
  margin: 20px 0;
}

.divider-container span {
  font-size: 18px;
  width: 40%;
}

.divider-container hr {
  margin: 0;
  width: 60%;
  height: 1px;
  border: none;
  background-color: var(--hr-color);
}

@media (min-width: 769px) {
  .divider-container {
    padding: 0 40px;
    margin: 80px 0;
  }

  .divider-container span {
    font-size: 20px;
    width: 15%;
  }

  .divider-container hr {
    width: 85%;
  }
}

@media (min-width: 1241px) {
  .divider-container {
    padding: 0 60px;
  }
}
