.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  gap: 0;
  height: auto;
}

.contact-info {
  width: 100%;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info h4 {
  margin: 0;
  padding: 0;
}

.form-container {
  width: 100%;
  background-color: var(--text-color);
  padding: 0 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.success-message {
  color: #4caf50;
  margin-bottom: 10px;
  font-weight: 300;
}

.error-message {
  color: #f16e04;
  margin-bottom: 10px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.form-container span {
  color: var(--hover-color);
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
.submit-button:focus,
textarea:focus {
  border-color: var(--accent);
  outline: none;
}

textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  margin-top: 12px;
  padding: 12px;
  background-color: var(--hover-color);
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s;
}

.submit-button:hover,
.submit-button:focus {
  background-image: linear-gradient(
    to right bottom,
    #0075ff,
    #0093ff,
    #00abfe,
    #00beee,
    #00cedd,
    #1bd4db,
    #2edad8,
    #40e0d5,
    #3cdfe1,
    #42deec,
    #4fdcf4,
    #5fdafb
  );
}

.error-icon {
  padding: 8px 0 0 8px;
  font-size: 24px;
  color: #fff;
}

.error-icon:hover {
  color: var(--hover-color);
}

@media (min-width: 768px) {
  .contact-container {
    gap: 16%;
    margin-bottom: 40px;
    flex-direction: row;
  }

  .contact-info {
    width: 320px;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
  }

  .form-container {
    width: 400px;
    padding: 24px;
  }
}

@media (min-width: 1240px) {
  .contact-container {
    flex-direction: row;
    gap: 20%;
    height: 700px;
  }

  .contact-info {
    width: 500px;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
  }

  .form-container {
    width: 480px;
  }
}
