.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  gap: 0;
  height: auto;
}

.contact-info {
  width: 100%;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info span {
  font-weight: bold;
}
.error-icon {
  padding: 8px 0 0 8px;
  font-size: 24px;
  color: #fff;
}

.error-icon:hover {
  color: var(--hover-color);
}

@media (min-width: 768px) {
  .contact-container {
    gap: 16%;
    margin-bottom: 40px;
    flex-direction: row;
  }

  .contact-info {
    width: 320px;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
  }
}

@media (min-width: 1240px) {
  .contact-container {
    flex-direction: row;
    gap: 20%;
    height: 700px;
  }

  .contact-info {
    width: 500px;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
  }
}
