.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 70px 30px 70px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
}

.contact-info h2 {
  font-size: 28px;
  color: var(--text-color);
}

.contact-info p {
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-color);
}
.resume-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 12px;
  background-color: var(--hover-color);
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 40%;
  transition: background-color 0.3s;
}

.form-container {
  background-color: var(--text-color);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 480px;
}

.success-message {
  color: #4caf50;
  margin-bottom: 10px;
  font-weight: 300;
}

.error-message {
  color: #f16e04;
  margin-bottom: 10px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: var(--hover-color);
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--hover-color);
  border-radius: 4px;
  margin-bottom: 15px;
}
input[type="text"]:focus,
input[type="email"]:focus,
.submit-button:focus,
textarea:focus {
  border-color: pink;
  outline: none;
}
textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  margin-top: 12px;
  padding: 12px;
  background-color: var(--hover-color);
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s;
}

.submit-button:hover,
.resume-button:hover {
  background: linear-gradient(170deg, #2a0aff, #f49595);
}
.submit-button:focus,
.resume-button:focus{
  background: linear-gradient(170deg, #2a0aff, #f49595);
}
.error-icon {
  padding: 8px 0 0 8px;
  font-size: 24px;
  color: #fff;
}
.error-icon:hover {
  color: var(--hover-color);
}
/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .contact-info,
  .form-container {
    width: 100%;
  }
}
