.header {
  background-image: linear-gradient(
    to right bottom,
    #0075ff,
    #0093ff,
    #00abfe,
    #00beee,
    #00cedd,
    #1bd4db,
    #2edad8,
    #40e0d5,
    #3cdfe1,
    #42deec,
    #4fdcf4,
    #5fdafb
  );

  width: 96vw;
  height: 380px;
  display: flex;
  position: relative;
  left: 2%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.header-text {
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  padding-left: 45px;
}
.header-img {
  width: 380px;
  height: 420px;
  margin: 100px 80px 0 0;
}
