.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    height: 300px;
    width: 100%;
    position: relative; 
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}

.arrows i {
    font-size: 16px; 
    color: var(--hover-color);
}

.arrows i:hover {
    color: var(--accent);
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px; 
    width: 80%; 
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5; 
    z-index: -1; 
    border-radius: 10px;
}

.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    z-index: 1;
    border-radius: 10px;
}

.slide p {
    width: 80%; 
    font-size: 16px; 
    z-index: 2; 
    color: #fff; 
}

.indicator {
    display: inline;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.indicator i {
    border-radius: 50%;
    font-size: 10px; 
    color: var(--accent);
    background-color: var(--background-color);
}

.indicator.active i {
    background-color: var(--hover-color);
}

@media (min-width: 768px) {
    .carousel {
        gap: 30px;
    }

    .slide {
        width: 80%;
        height: 200px;
    }

    .slide p {
        font-size: 20px;
        width: 80%;
    }

    .arrows i {
        font-size: 20px;
    }
}

@media (min-width: 1240px) {
    .carousel {
        gap: 80px;
        height: auto;
        margin-bottom: 4rem;
    }

    .slide {
        width: 90%;
        height: 420px;
    }

    .slide p {
        width: 50%;
        font-size: 30px;
    }

    .arrows i {
        font-size: 28px; 
    }
}
