.footer {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(
    to right bottom,
    #0075ff,
    #0093ff,
    #00abfe,
    #00beee,
    #00cedd,
    #1bd4db,
    #2edad8,
    #40e0d5,
    #3cdfe1,
    #42deec,
    #4fdcf4,
    #5fdafb
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.footer span a {
  padding: 0 10px 0 0;
  text-decoration: none;
}

.footer-text {
  color: #fff;
}

.footer-icon {
  font-size: 20px;
  color: #fff;
}

.footer-icon:hover {
  color: lime;
}

@media (min-width: 769px) {
  .footer {
    padding: 0 20px;
  }

  .footer span a {
    padding: 0 28px 0 0;
  }

  .footer-icon {
    font-size: 24px;
  }
}
