* {
  box-sizing: border-box;
}
body {
  overflow-y: scroll;
  background-color: aliceblue;
  margin: 0;
  font-family: "Coda", cursive, sans-serif;
  font-weight: 400;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
