* {
  box-sizing: border-box;
}
:root {
  --background-color: #fefafa; /* Light mode background color */
  --text-color: #333; /* Light mode text color */
  --hr-color: #333; /* Light mode hr color */
  --hover-color: #4fe0c3;
}

.dark-mode {
  --background-color: #333; /* Dark mode background color */
  --text-color: #fff; /* Dark mode text color */
  --hr-color: #fff; /* Dark mode hr color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Coda", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-color: var(--hr-color);
}
