.services-tech-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:768px){
  .services-tech-container{
    height: 300px;
  }
}
